# Inherited from sonata-project/dev-kit, with adminata's own entries appended.

root = true

[*]
end_of_line = lf
indent_style = space
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,yaml,yml,twig,php}]
indent_size = 4

[.yamllint]
indent_size = 4

[*.{xliff,js,json,scss,css}]
indent_size = 2

[composer.json]
indent_size = 4

[.flintci.yml]
indent_size = 2

[Makefile]
indent_style = tab

[*.{ts,mjs,cjs}]
indent_size = 2

[*.{html,md}]
indent_size = 4

[package.json]
indent_size = 2
